<form method="POST" action="/<%=title%>">
    <label for="critterImg" class="card-text text-muted">Image</label>
    <input id="critterImg" type="text" name="img_url" class="form-control">
    <br />
    <label for="critterName" class="card-text text-muted">Name</label>
    <input id="critterName" type="text" name="name" class="form-control">
    <br />
    <input type="submit" class="btn btn-primary">
  </form>