<h1 class="display-3">Critters:</h1>
<ul class="list-group">
    <li class="list-group-item"><a href="/dinosaurs" class="lead">Dinosaurs</a></li>
    <li class="list-group-item"><a href="/cryptids" class="lead">Cryptids</a></li>
</ul>